################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DataProcessing.Monolith/.vs/DataProcessing.Monolith
/DataProcessing.Monolith/DataProcessing.Api/obj
/DataProcessing.Monolith/DataProcessing.Application/obj
/DataProcessing.Monolith/DataProcessing.Domain/obj
/DataProcessing.Monolith/DataProcessing.Domain/bin/Debug/net8.0
/DataProcessing.Monolith/DataProcessing.Infrastructure/obj
/DataProcessing.Distributed/.vs/DataProcessing.Distributed
/DataProcessing.Monolith/.vs/ProjectEvaluation
/DataProcessing.Distributed/dashboard/.vs/dashboard
/DataProcessing.Distributed/ingestion/.vs
/DataProcessing.Distributed/ingestion/DataProcessing.Ingestion.Api/obj
/DataProcessing.Distributed/ingestion/DataProcessing.Ingestion.Application/obj
/DataProcessing.Distributed/ingestion/DataProcessing.Ingestion.Domain/obj
/DataProcessing.Distributed/ingestion/DataProcessing.Ingestion.Infrastructure/obj
/DataProcessing.Distributed/processing/.vs
/DataProcessing.Distributed/processing/DataProcessing.Processing.Api/bin/Debug/net8.0
/DataProcessing.Distributed/processing/DataProcessing.Processing.Api/obj
/DataProcessing.Distributed/processing/DataProcessing.Processing.Aplication/obj
/DataProcessing.Distributed/processing/DataProcessing.Processing.Application/bin/Debug/net8.0
/DataProcessing.Distributed/processing/DataProcessing.Processing.Application/obj
/DataProcessing.Distributed/processing/DataProcessing.Processing.Domain/bin/Debug/net8.0
/DataProcessing.Distributed/processing/DataProcessing.Processing.Domain/obj
/DataProcessing.Distributed/processing/DataProcessing.Processing.Infrastructure/bin/Debug/net8.0
/DataProcessing.Distributed/processing/DataProcessing.Processing.Infrastructure/obj
/DataProcessing.Distributed/dashboard/.vs/ProjectEvaluation
/DataProcessing.Distributed/dashboard/DataProcessing.Dashboard.Api/obj
/DataProcessing.Distributed/dashboard/DataProcessing.Dashboard.Application/obj
/DataProcessing.Distributed/dashboard/DataProcessing.Dashboard.Domain/obj
/DataProcessing.Distributed/dashboard/DataProcessing.Dashboard.Infrastructure/obj
/DataProcessing.Monitoring/.vs/DataProcessing.Monitoring
/DataProcessing.Monitoring/DataProcessing.Monitoring/obj
/DataProcessing.Distributed/DataProcessing.Monitoring/.vs
/DataProcessing.Distributed/DataProcessing.Monitoring/DataProcessing.Monitoring/bin/Debug/net8.0
/DataProcessing.Distributed/DataProcessing.Monitoring/DataProcessing.Monitoring/obj
/DataProcessing.Distributed/ingestion/DataProcessing.Ingestion.Api/bin/Debug/net8.0
/DataProcessing.Distributed/ingestion/DataProcessing.Ingestion.Application/bin/Debug/net8.0
/DataProcessing.Monitoring/.vs/ProjectEvaluation
/DataProcessing.Monitoring/DataProcessing.Monitoring/bin/Debug/net8.0
/DataProcessing.Monolith/DataProcessing.Monitoring/.vs
/DataProcessing.Monolith/DataProcessing.Monitoring/DataProcessing.Monitoring/bin/Debug/net8.0
/DataProcessing.Monolith/DataProcessing.Monitoring/DataProcessing.Monitoring/obj
